body {
    background: #4a046b;
    color: white;
    text-align: center;
}

.table-bg {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px 15px 0 0;
}

.box-search {
    display: flex;
    justify-content: center;
    gap: .1%;
}

.btn-sair {
    background-color: #5b0582;
    border: 1px solid #63048e;
    text-decoration: none;
    display: flex;
    margin: 10px 10px 0 0;
    align-items: center;
    justify-content: center;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

.btn-sair:hover {
    background-color: #4a046b;
}